{% load static %}
<html>
    <head>
        <title>Your Feed</title>
	<link rel = "stylesheet"
   	type = "text/css"
   	href = "{% static "css/buttoncss.css" %}" />
	<style>
body{
font-family: Fantasy;
align:center
}
img {
    border-radius: 15px;
	 display: block;
    margin: auto;
    width: 40%;
}
.topcorner{
   position:absolute;
   top:0;
   right:0;
  }
a:link, a:visited {
    background-color: #f44336;;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: powderblue;
}
</style>
    </head>
    <body style= "padding:60px 80px; background-image: url('{% static "images/garagefeed.jpg"%}'); 	 	background-size : 100% 100%;">
        <h1>Welcome to your feed!</h1>
	<a href="/logout/" class="topcorner">Logout</a>
	<form action="/post/" method="get">
	<label for="upload" style="background-color:rgba(255,255,255,0.7); font-size: 20px">Want to sell something? Upload the image and get going: &nbsp; &nbsp; &nbsp;</label>
        <input type="submit" id=button class="btn btn-default" value="UPLOAD">
    	</form>
<div style="height: 100%;
    width: 100%;text-align:center; background-color: rgba(255,255,255,0.7); padding:5px 10px; overflow: auto" >
        {% for post in posts %}
        <h4>
         Username: {{ post.user.username }}
        </h4>
        <img src="{{ post.image_url }}">
        <span>
          {{ post.caption }}
        </span><br><br>
        <div style="display:inline-block">
            {{ post.like_count }} like this
        </div>
        <form method="POST" action="/like/">
          {% csrf_token %}
          <input type="hidden" name="post" value="{{ post.id }}">
          <input type="submit" id=button class="btn btn-default" value="LIKE">
        </form>
	<div style="display:inline-block; text-align:center; height:20%; width:65%; overflow:auto; background-color:rgba(255,255,255,0.5)">
    	<p>
        {% for comment in post.comments %}
          {{ comment.user.username }}&nbsp;said:&nbsp;{{ comment.comment_text }}<br>{{ comment.created_on }} Likes: {{comment.like_count}}
	<form method="POST" action="/likecomment/">
          {% csrf_token %}
          <input type="hidden" name="comment" value="{{ comment.id }}">
          <input type="submit" id=button class="btn btn-default" value="UPVOTE">
        </form>
        </p>

      {% endfor %}

      </div>
	<br>
        <form method="POST" action="/comment/">
            {% csrf_token %}
            <input type="hidden" name="post" value="{{ post.id }}" >
            <input type="text" name="comment_text" id="comment_text" placeholder="Write your comment.." value="{{ comment_text }}">
            {{ comment_text }}
            <input type="submit" id=button class="btn-default btn" value="COMMENT">
        </form>
	<br>
        {% endfor %}
</div>
    </body>
</html>