{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarketPlace</title>
<link rel = "stylesheet"
   	type = "text/css"
   	href = "{% static "css/buttoncss.css" %}" />
<style>
div{
font-family: Fantasy;
}
</style>
</head>
<body background = "{% static "images/garageHomepage.jpg" %}" style = "padding: 80px; background-size : 100% 130%; background-color : black; background-repeat: no-repeat ">
	
	<div class="main" style="text-align:center; background-color: rgba(255,255,255,0.5); font-size:30px " >
            <h1>WELCOME TO GARAGE-SALE</h1>
            <h3>Join us today!</h3>
		<h3> {{today}} </h3>
    </div>

    <div style="background-color: rgba(255,255,255,0.5); text-align:center; padding: 20px 20px">
        <form method="post">
    		{% csrf_token %}
                <label for="username">*Username: </label>
                <input id="username" type="text" name="username" value={{ username }}>
		<font color="red" face="Times New Roman">
		{{message1}}
		{{form.username.errors}}</font><br><br>
                <label for="name">*Name: &emsp; &nbsp;</label>
                <input id="name" type="text" name="name" value={{ name }}>
		<font color="red" face="Times New Roman">{{form.name.errors}}</font><br><br>
                <label for="email">*Email: &emsp; &nbsp; </label>
                <input id="email" type="text" name="email" value={{ email }}>
		<font color="red" face="Times New Roman">{{form.email.errors}}</font><br><br>
                <label for="password">*Password: </label>
                <input id="password" type="password" name="password" value={{ password }}>
		<font color="red" face="Times New Roman">
		{{message2}}
		{{form.password.errors}}</font><br><br>
                <input type="submit" id = "button" value="Sign Up">
        </form>


    </div><br><br>
	<div style="text-align:center">
    <form action="/login/" method="get">
	Already a user? &emsp; &nbsp;
        <input type="submit" id = "button" class="btn btn-default" value="Login">
    </form>
</div>
</body>
</html>